.title {
  color: #02ccba;
  text-align: left;
}
p {
 color: #000000;
}
.bg_test {
    text-align: center;
    padding: 300px;
    border: solid 2px;
}
.bg_test {
    background-image: url(背景-2.jpg);
    background-size: center;
}
.bg_test-text {
    background-color: #ffffff(255, 255, 255, 0.7);
}
