.head{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  background: #333;
  color: #fff;
}
.content{
  margin-top:80px;
}
.box{
  height: 500px;
  width: 500px;
  margin: 10px auto;
  background: #ccc;
  color: #fff;
}
.title {
  color: #02ccba;
  text-align: left;
}
.title2 {
  color: #000000;
  text-align: center;
}
p {
 color: #000000;
}
.bg_test {
    text-align: center;
    img-align: center;
    padding: 300px;
    border: solid 1px;
}
.bg_test {
    background-image: url(背景-3.jpg);
    background-size: cover;
}
.bg_test-text {
    background-color: #ffffff(255, 255, 255, 0.7);
}
