.head{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-header{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  background: #333;
  color: #fff;
}
.title {
  color: #02ccba;
  text-align: left;
}
.title2 {
  color: #7fffd4;
  text-align: center;
  border-bottom: solid 4px #7fffd4;
}
.h3 {
  text-align: left;
.p {
 color: #000000;
}
.bg_test {
    text-align: center;
    margin-top: 400px;
}
.bg_test { 
  background: #333;  
  background-size: cover;
  background-color: #808080;
}
.bg_test-text {
    background-color: #808080(255, 255, 255, 0.7);
}
